{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Product Details</title>
	<link rel="icon" href="{% static 'cotoure/img/Fevicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'cotoure/vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'cotoure/vendors/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'cotoure/vendors/themify-icons/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'cotoure/vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static 'cotoure/vendors/nice-select/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'cotoure/vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'cotoure/vendors/owl-carousel/owl.carousel.min.css' %}">
<style>
  .checkout-btn {
    display: inline-block;
    margin-top: 10px; /* Adjust as needed */
    border-radius: 5px;
}

</style>
  <link rel="stylesheet" href={% static 'cotoure/css/style.css' %}>
</head>
<body>
  <!--================ Start Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="r_index.html"><img src="{% static 'cotoure/img/logo.png' %}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active"><a class="nav-link" href="{% url 'r_index' %}">Home</a></li>
             
              <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'c_order_customer' %}">Orders</a></li>

              <li class="nav-item"><a class="nav-link" href="{% url 'messages_page' %}">Contact</a></li>
            </ul>

            <ul class="nav-shop">
              <li class="nav-item"><a href="{% url 'loggout' %}" class="nav-link">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
</header>
	<!--================ End Header Menu Area =================-->

	<!-- ================ start banner area ================= -->	
	
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shopping Cart</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'r_index' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
          </nav>
				</div>
			</div>
   
	<!-- ================ end banner area ================= -->
  
  

  <!--================Cart Area =================-->
  <section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Model</th>
                            <th scope="col">Category</th>
                            <th scope="col">Size</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        {% if not item.pay_status %}

                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{ item.product.image.url }}" alt="{{ item.product.description }}" style="width: 150px; height: auto;">
                                    </div>
                                    <div class="media-body">
                                        <p>{{ item.product.description }}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p>{{ item.product.c_category }}</p>
                            </td>
                            <td>
                                <h5>{{ item.product.t_category }}</h5>
                            </td>
                            <td>
                                <h5>{{ item.size }}</h5>
                            </td>
                            <td>
                              {% if item.customization_added %}
                              <h5>₹{{ item.total }}</h5>
                              <p style="color: #999999; font-size: 14px;">(Extra charge of ₹150 for Customization is included.)</p>

                              {% else %}
                              <h5>₹{{ item.total }}</h5>
                              {% endif %}
                          </td>
                            <td>
                              {% if item.is_active %}
                              {% if not item.is_customized %}
                              <center><a href="{% url 'c_design' cart_id=item.id %}" class="btn btn-primary" style="margin-left: 10px;">Customize</a><br><br>OR</center>
                              {% else %}   
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#designModal{{ item.id }}">
                                    View Design
                                </button><br><br>
                            
                                {% endif %} 
                                <button type="submit" class="btn btn-primary payment-button">

                                  <a href="{% url 'payment2' cart_id=item.id price=item.total|floatformat:2 %}" class="payment-link"  style="color: white;">Proceed to checkout</a>
                              </button>
                              
                              
                              {% else %}
                              Pending
                          {% endif %}
                          
                            </td>
                        </tr>
                        {% endif %}

                        {% endfor %}
                        <tr>
                            <td colspan="6">
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="{% url 'r_index' %}">Continue Shopping</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% for item in cart_items %}

        {% if item.is_customized %}
  <div class="modal fade" id="designModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="designModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="max-width: 800px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="designModalLabel">Recorded Design</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <!-- Display recorded design details here -->
                      <div class="design-detail" style="display: inline-block;">
                        <p style="display: inline-block; color: black;"><strong>Neck Design:</strong></p>
                        <img src="{{ item.design.neck_design }}" alt="Neck Design" style="max-width: 150px; display: inline-block;">
                    
                      </div>
                      <div class="design-detail" style="display: inline-block;">
                        <p style="display: inline-block; color: black;"><strong>Back Design:</strong></p>
                        <img src="{{ item.design.back_design }}" alt="Back Design" style="max-width: 150px; display: inline-block;">
                        </div><br><br>
                    
                     
                    <div class="design-detail" style="display: inline-block; margin-right: 20px;">
                      <p style="display: inline-block; color: black;"><strong>Sleeve Design:</strong></p>
                      <img src="{{ item.design.sleev_design }}" alt="Sleeve Design" style="max-width: 150px; display: inline-block;">
                  </div>
                  
                  <div class="design-detail" style="display: inline-block;">
                      <p style="display: inline-block; color: black;"><strong>Lining Design:</strong></p>
                      <img src="{{ item.design.lining_design }}" alt="Lining Design" style="max-width: 100px; display: inline-block;">
                  </div>
                  
                      <p><strong style="color: black;">Additional Info:</strong> {{ item.design.additional_info }}</p>
                   
                    </div>
                  
                  
                  
                </div>
            </div>
        </div>
      
        {% endif %}
    </td>

  </tr>
{% endfor %}
  <!--================ Start footer Area  =================-->	
	<footer>
		<div class="footer-area footer-only">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets ">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>
								So seed seed green that winged cattle in. Gathering thing made fly you're no 
								divided deep moved us lan Gathering thing us land years living.
							</p>
							<p>
								So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved 
							</p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Quick Links</h4>
							<ul class="list">
								<li><a href="#">Home</a></li>
								<li><a href="#">Shop</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Product</a></li>
								<li><a href="#">Brand</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title">Gallery</h4>
							<ul class="list instafeed d-flex flex-wrap">
								<li><img src="img/gallery/r1.jpg" alt=""></li>
								<li><img src="img/gallery/r2.jpg" alt=""></li>
								<li><img src="img/gallery/r3.jpg" alt=""></li>
								<li><img src="img/gallery/r5.jpg" alt=""></li>
								<li><img src="img/gallery/r7.jpg" alt=""></li>
								<li><img src="img/gallery/r8.jpg" alt=""></li>
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-location-arrow"></span>
									Head Office
								</p>
								<p>123, Main Street, Your City</p>
	
								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Phone Number
								</p>
								<p>
									+123 456 7890 <br>
									+123 456 7890
								</p>
	
								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
									free@infoexample.com <br>
									www.infoexample.com
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->



  
    <script src="{% static 'cotoure/vendors/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'cotoure/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'cotoure/vendors/skrollr.min.js' %}"></script>
    <script src="{% static 'cotoure/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'cotoure/vendors/nice-select/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'cotoure/vendors/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'cotoure/vendors/mail-script.js' %}"></script>
    <script src="{% static 'cotoure/js/main.js' %}"></script>
  </body>
  </html>