<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Similar Product Recommendations</title>
</head>
<body>
    <h1>Recommended Products</h1>
    <div>
        <h2>Similar Products</h2>
        <h2>Recommended Category</h2>
        <!-- Display the predicted category -->
        <p>The predicted category for the uploaded image is: {{ predicted_category }}</p>

        <!-- Optionally, display the uploaded image -->
        <img src="{{ uploaded_image_url }}" alt="Uploaded Image">
    </div>
</body>
</html>
